/best_model_0.7540_second_comment.pth
/best.pt
/mbti_EorI_loss2035_acc9453.pth
/uploads
/runs
/build
/dist
/total.spec
/ns.pkl
/mediapipe_facemesh.csv
/haarcascade_frontalface_default.xml
/keras_model.h5
/audio_fail.mp3
/total_ej.exe
/data
/mbti_result.db
/migrations
